.web-manage-investment-count {
  @extend .web;
  display: flex;justify-content: space-between;

  &-chart {
    width: 600px;background: #EDF0FB;border-radius: 8px 0 0 8px;
    display: flex;flex-flow: column;justify-content: center;
    &-layout {
      width: 300px;height: 300px;margin: 0 auto 30px;position: relative;
      section {
        display: flex;flex-flow: column;justify-content: center;align-items: center;height: 100%;
        em {
          font-size: 40px;font-weight: bold;
        }
        span {
          font-size: 16px;line-height: 20px;
        }
      }
      .recharts-wrapper {
        position: absolute !important;top: 0;left: 0;right: 0;bottom: 0;
      }
    }
    &-labels {
      padding: 0 65px;
      ul {
        display: grid; grid-template-columns: 1fr 1fr;grid-gap:10px;
        li {
          display: flex;align-items: center;font-size: 14px;cursor: pointer;
          i {
            width: 10px;height: 10px;display: block;border-radius: 50%;margin-right: 8px;
          }
          &.active {
            font-weight: 800;
          }
        }
      }
    }
  }
  &-detail {
    flex: 1;background: white;padding: 40px;border-radius: 0 8px 8px 0;

    h3 {
      font-size: 24px;line-height: 1.25;color: $blue;margin-bottom: 15px;
    }

    article {
      margin: 0 0 20px;border-bottom: 1px solid #E7E7E7;padding-bottom: 20px;
      label {
        display: flex;align-items: center;color: #737373;
        font-size: 14px;height: 16px;margin-bottom: 8px;
      }

      em {
        font-size: 40px;font-weight: bold;line-height: 1;
      }
    }

    section {
      display: grid; grid-template-columns: 1fr 1fr;grid-gap:20px;
    }
  }
}
