{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".ts", ".jsx", ".tsx"]
      }
    },
    "import/extensions": [".js", ".ts", ".jsx", ".tsx"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:react-hooks/recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": 1,
    "react-hooks/exhaustive-deps": "off", // The development stage needs to open todo
    "react-hooks/rules-of-hooks": 1,
    "@typescript-eslint/no-unused-vars": "off", // The development stage needs to open todo
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-non-null-assertion": "off", // The development stage needs to open todo
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "ignorePatterns": ["/node_modules"]
}
