.web-manage-manager-chart {
  background: $white;border-radius: 8px; position: relative;
  header {
    height: 130px;padding: 40px 40px 0;position: relative;

    label {
      font-size: 12px;line-height: 16px;text-transform: uppercase;color: $text;font-weight: 800;display: block;
    }
    em {
      font-size: 48px;line-height: 56px;font-weight: 800;color: $black;display: block;margin-top: 8px;
    }

    // .web-button {
    //   position: absolute;right: 0;top: -62px;
    // }

    .web-c-time-select {
      position: absolute;top: 40px;right: 40px;
    }
  }
  main {
    height: 350px;border-radius: 8px;overflow: hidden;
  }
}
