.web-buy-table {
  &-layout {
    margin-top: 24px;
    & > h2 {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 16px;
      color: $black;
      font-weight: 800;
    }
    & > footer {
      display: flex;
      justify-content: flex-end;
      background: $bgBlue;
      padding: 40px 24px;
      .web-button {
        margin-left: 20px;
      }
    }
  }
  &-action {
    .web-button {
      padding-left: 15px;
      padding-right: 15px;
      // width: 120px;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .asset-item {
    display: flex;
    align-items: center;
    padding: 2px 0;
    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}
