.p-vault-list {
  @extend .web;
  margin-top: 40px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $blue;
    h2 {
      font-size: 24px;
      line-height: 40px;
      color: $black;
      margin-bottom: 10px;
      font-weight: 800;
    }
    aside label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      @include ns();
    }
  }

  .table {
    &-header {
      display: grid;
      grid-template-columns: 350px auto 240px 100px 150px;
      background: #f2f0fd;
      height: 56px;
      align-items: center;
      gap: 20px;
      padding: 0 20px;
      strong {
        display: flex;
        text-align: center;
      }
    }

    &-body {
      dl {
        dt,
        dd {
          display: grid;
        }
        dt {
          align-items: center;
          min-height: 72px;
          padding: 0 20px;
          gap: 20px;
          grid-template-columns: 350px auto 240px 100px 150px;
          border-bottom: 1px solid #e7e7e7;

          .vault-arrow {
            border: none;
            background: none;
            cursor: pointer;
            @include dz();

            &.show {
              @include xz(180);
            }
          }
        }
        dd {
          background: rgba($lBlue, 0.04);
          padding: 0 20px 0 40px;
          gap: 10px;
          min-height: 0;
          max-height: 0;
          overflow: hidden;
          @include dz();
          .vault-item {
            display: grid;
            gap: 20px;
            grid-template-columns: 330px auto 240px 100px 150px;
            align-items: center;
          }

          &.show {
            padding: 15px 20px 15px 40px;
            min-height: 54px;
            max-height: 200px;
          }
        }
      }
    }
  }
}
