.c-vault-icon {
  color: $cff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Didot';
  font-weight: bold;
  text-transform: uppercase;
  background: center/cover no-repeat;
  // background:radial-gradient($red,$red,$cff);
  &-size {
    &-default {
      &,
      img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        font-size: 32px;
        padding-top: 3px;
      }
    }
    &-big {
      &,
      img {
        width: 64px;
        height: 64px;
        border-radius: 10px;
        font-size: 44px;
        padding-top: 4px;
      }
    }
    &-large {
      &,
      img {
        width: 90px;
        height: 90px;
        border-radius: 16px;
        font-size: 64px;
        padding-top: 5px;
      }
    }
    &-medium {
      &,
      img {
        width: 36px;
        height: 36px;
        border-radius: 6px;
        font-size: 28px;
        padding-top: 2px;
      }
    }
    &-mini {
      &,
      img {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        font-size: 18px;
        padding-top: 1px;
      }
    }
  }
  &.round {
    border-radius: 50%;
  }
  @for $i from 1 through 9 {
    &.style-#{$i} {
      background-image: url($res + 'asset/fung-icon-' + $i + '.png');
    }
  }
  &.icon {
    background-image: none;
  }
}

.c-vault-name {
  display: flex;
  align-items: center;
  .c-vault-icon {
    margin-right: 10px;
  }
  p {
    display: flex;
    flex-flow: column;
    strong {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    span {
      overflow: hidden;
      max-width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.status {
        font-size: 12px;
        color: $green;
        font-weight: normal;
        border: 1px solid $green;
        padding: 3px 5px;
        border-radius: 4px;
      }
    }
  }
  em {
    line-height: 1.2;
    font-size: 12px;
    color: #737373;
    display: block;
    margin-top: 2px;
    font-weight: normal;
  }
}
