.web-fund-detail-bench {
  & > h4 {
    font-size: 24px;line-height: 32px;margin-bottom: 32px;font-weight: 800;color: $blue;
    display: flex;align-items: center;
    .c-popper {
      margin-left: 10px;
    }
  }
  & > hr {
    margin: 64px -40px 48px;
    border: none;height: 1px;background: #A7BFFF;
  }
  &-layout {
    @extend .web;margin-top: 40px;
  }
  &-input {
    .web-form-input-base {
      width: 400px;
    }
  }
  &-slider {
    margin: 40px 0;
  }
  &-action {
    display: flex;justify-content: flex-end;
    footer {
      display: flex;flex-flow: column;align-items: center;
      height: 80px;justify-content: space-between;
    }
  }
}
