.web-fund-detail-status {
  &-footer {
    margin: 30px -40px -12px;
    padding: 24px 40px 0;
    border-top: 1px solid #A7BFFF;
    color: #2C2626;
    dl {
      display: flex;align-items: center;justify-content: space-between;
      font-size: 18px;line-height: 32px;
      dt {
        em {
          font-weight: bold;display: inline-block;margin-left: 12px;
        }
      }
      // &:last-child dt em {
      //   color: $fail;
      // }
    }
  }
}
