.web-fund-detail-roe-history {
  @extend .web;
  border-top: 4px solid rgba($blue, 0.8);
  background: $white;
  margin-bottom: 40px;
  text-align: center;
  header {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    font-size: 18px;
    color: $blue;
    text-transform: capitalize;
    font-weight: bold;
    background: #f2f0fd;
    strong {
      font-weight: 800;
    }
    span {
      font-size: 16px;
    }
  }
  section {
    display: grid;
    grid-template-columns: 1fr 12fr;
    aside {
      display: grid;
      grid-template-columns: 1fr;
      span {
        font-weight: bold;
      }
    }
    main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      span {
        font-size: 14px;
      }
    }
    span {
      border-bottom: 1px solid $line;
      &:hover {
        box-shadow: 0px 0px 16px rgba(203, 202, 202, 0.25);
      }
    }
  }
  span,
  strong {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
