@font-face {
  font-family: 'Didot';src: url('/fonts/didot.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Didot';src: url('/fonts/didot-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Proxima Nova';src: url('/fonts/proxima-nova-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Proxima Nova';src: url('/fonts/proxima-nova-semibold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Proxima Nova';src: url('/fonts/proxima-nova-bold.ttf') format('truetype');
  font-weight: 800;
}
