.web-pool-banner {
  background: $white;border-radius: 8px;display: flex;justify-content: space-between;
  &-layout {
    @extend .web;
    & > h2 {
      font-size: 40px;line-height: 56px;color: $black;font-family: 'Didot';letter-spacing: -1px;margin-bottom: 24px;
    }
  }
  &-icons {
    width: 680px;height: 320px;border-radius: 8px 0 0 8px;
    @include jb($white, #92A9FF);position: relative;overflow: hidden;

    p {
      padding: 48px 42px;
      label {
        font-weight: 800;font-size: 14px;letter-spacing: .5px;height: 24px;
        display: flex;align-items: center;text-transform: capitalize;color: $text;
      }
      em {
        font-weight: 800;font-size: 48px;height: 56px;display: flex;align-items: center;color: $black;
      }
    }

    i {
      display: block;position: absolute;
      background: center/contain no-repeat;
      animation: web-pool-banner-icon 2s ease infinite alternate;
      &:nth-child(1) { width: 205px;height: 158px; top: 0;left: 516px; animation-delay: 0s; }
      &:nth-child(2) { width: 171px;height: 172px; top: 29px;left: 448px; animation-delay: -0.5s; }
      &:nth-child(3) { width: 214px;height: 141px; top: 180px;left: 341px; animation-delay: -1s; }
      &:nth-child(4) { width: 180px;height: 125px; top: 195px;left: 505px; animation-delay: -1.5s; }
      // &:nth-child(1) { width: 150px;height: 112px; top: 0;left: 470px; animation-delay: 0s; }
      // &:nth-child(2) { width: 130px;height: 130px; top: 29px;left: 424px; animation-delay: -0.2s; }
      // &:nth-child(3) { width: 157px;height: 150px; top: 168px;left: 88px; animation-delay: -0.4s; }
      // &:nth-child(4) { width: 150px;height: 118px; top: 211px;left: 388px; animation-delay: -0.7s; }
      // &:nth-child(5) { width: 168px;height: 168px; top: 16px;left: 530px; animation-delay: -1.2s; }
      // &:nth-child(6) { width: 166px;height: 106px; top: 214px;left: 15px; animation-delay: -1.5s; }
      // &:nth-child(7) { width: 140px;height: 140px; top: 98px;left: 475px; animation-delay: -1.8s; }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          background-image: url($res + 'pool/all-coin-' + $i + '.png');
        }
      }
    }
  }
  &-data {
    width: 572px;margin: 48px 40px auto auto;
    &-items, &-control {
      display: grid;grid-template-columns: 250px 250px;
    }
    &-items {
      grid-gap: 40px 72px;
      button {
        width: 60px;height: 24px;border-radius: 12px;background: $blue;cursor: pointer;color: $cff;
        border: none;font-size: 20px;font-weight: 800;margin-left: 10px;
        display: inline-flex;align-items: center;justify-content: center;
        @include dz();
        &:hover, &:focus {
          background: $lBlue;
        }
        &:after {
          content: '';display: block;width: 16px;height: 16px;margin-left: 5px;
          background: url($res + 'icon/metamask-logo.png') center/contain no-repeat;
        }
      }
    }
    &-control {
      grid-gap: 0 72px;margin-top: 20px;
      & > p {
        position: relative;padding-left: 20px;font-size: 12px;line-height: 1.2;
        &:before {
          content: '';display: block;width: 16px;height: 16px;left: 0;position: absolute;
          background: url($res + 'icon/tip.svg') center/contain no-repeat;
        }
      }
    }
  }
}
@keyframes web-pool-banner-icon {
  0% { transform: translate(0, 0) scale(1); opacity: .9;}
  100% { transform: translate(3px, 5px) scale(1.05); opacity: 1;}
}
