.web-pool-tab {
  @extend .web;padding: 72px 0 48px;
  display: flex;justify-content: center;align-items: center;

  span {
    display: flex;justify-content: center;align-items: center;
    width: 312px;height: 64px;border: 1px solid $blue;cursor: pointer;
    font-size: 20px;font-weight: 800;color: $blue;letter-spacing: 4px;
    @include dz();

    &:first-child {
      border-radius: 16px 0 0 16px;
    }
    &:last-child {
      border-radius: 0 16px 16px 0;
    }
    &.active {
      background: $blue;color: $white;border-width: 0;
      &:hover {
        background: lighten($blue, 10%);
      }
    }
  }
}
