.c-create-step-line {
  position: relative;
  margin-bottom: 64px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    height: 0;
    border-bottom: 1px dashed $gray;
  }
  ul {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;

    li {
      display: flex;
      flex-flow: column;
      align-items: center;
      color: $dGray;
      width: 210px;
      &:before {
        content: '';
        display: block;
        width: 77px;
        height: 84px;
        background: center/contain no-repeat #f7faff;
      }

      em {
        display: block;
        margin: 24px 0 8px;
        letter-spacing: 4px;
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
      }

      strong {
        font-family: 'Didot';
        font-size: 24px;
        line-height: 40px;
      }

      @for $index from 1 through 4 {
        &:nth-child(#{$index}):before {
          background-image: url($res + 'asset/box-' + $index + '.png');
        }
      }

      &.active {
        color: $blue;
      }
    }
  }
}

.c-create-step {
  &-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    margin-bottom: 32px;

    .web-c-data-item img {
      display: block;
      width: 64px;
      height: 64px;
      margin-right: 5px;
    }
  }
  &-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-bottom: 32px;
  }
  &-1col {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    margin-bottom: 32px;
    .web-c-data-item img {
      display: block;
      width: 64px;
      height: 64px;
      margin-right: 5px;
    }
  }

  &-text {
    padding-top: 10px;
    font-size: 14px;
  }
  &-stake {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &-equal {
      width: 32px;
      height: 32px;
      margin-top: 12px;
      background: url($res + 'icon/equal-blue.svg') center/contain no-repeat;
    }
    &-plus {
      width: 32px;
      height: 32px;
      margin-top: 12px;
      background: url($res + 'icon/plus.svg') center/contain no-repeat;
    }
    &-minus {
      width: 32px;
      height: 32px;
      margin-top: 12px;
      background: url($res + 'icon/minus.svg') center/contain no-repeat;
    }
    &-pre {
      width: 450px;
      color: $text;
      font-weight: 800;
      margin-top: -24px;
      dt {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        margin-bottom: 8px;
        text-transform: capitalize;
      }
      dd {
        height: 56px;
        background: $bgBlue;
        border-radius: 8px;
        padding: 0 15px 0 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
      }
    }
  }
  & > footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    .web-button {
      // width: 280px;
      margin-left: 20px;
    }
  }
  & > h3,
  & > h2 {
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
  & > h3 {
    font-size: 14px;
    margin-bottom: 8px;
    color: #737373;
  }
  & > h2 {
    font-size: 18px;
    margin-bottom: 10px;
    // color: $blue;
  }

  &-product-list {
    padding: 24px;
    border-radius: 8px;
    background: $bgBlue;
    min-height: 128px;
    width: 100%;
    @extend .cf;
    li {
      position: relative;
      float: left;
      cursor: pointer;
      margin: 8px;
      img {
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 16px;
      }
      &.active {
        img {
          box-shadow: 0 0 0 2px $blue;
        }
        &:before {
          content: '';
          display: block;
          width: 22px;
          height: 22px;
          position: absolute;
          right: -6px;
          top: -6px;
          background: url($res + 'icon/select.svg') center/contain no-repeat;
        }
      }
    }
  }

  &-tip {
    margin-bottom: 24px;
    & > h3 {
      font-size: 16px;
      margin-bottom: 18px;
    }

    & > main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin-bottom: 24px;
      article {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 16px;
        // &:before {
        //   content: '';
        //   display: block;
        //   width: 32px;
        //   height: 32px;
        //   background: center/contain no-repeat;
        //   background-image: url($res + 'icon/warning.svg');
        // }
      }
      p {
        font-size: 14px;
        flex: 1;
        background: $line;
        height: 32px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 8px;
      }
    }
  }
}
