.web-home-about {
  @extend .web_;margin-bottom: -64px;
  background: #EDF0FB;
  main {
    height: 510px;width: 820px;margin: 0 auto;
    display: flex;flex-flow: column;align-items: center;justify-content: center;text-align: center;

    h4 {
      font-family: 'Didot';font-weight: bold;
      font-size: 40px;margin-bottom: 24px;
      line-height: 1.2;
    }

    p {
      font-size: 20px;
      line-height: 1.4;margin-bottom: 40px;
    }

    // &:first-child {
    //   background: #0043E3;
    //   video {
    //     background: #0043E3;width: 100%;height: 100%;
    //     // height: 440px;
    //     // mix-blend-mode: screen;
    //     object-fit: scale-down;
    //   }
    // }
    // &:last-child {
    //   background: #FF7701;padding: 0 20%;
    // }
  }
}
