.web-home-guide {
  @extend .web_;
  padding: 72px 0 80px;
  // background: linear-gradient(177.4deg, #F8F8F8 13.01%, #B4C1FF 92.13%);
  @include jb(#b4c1ff, #f8f8f8, 180);
  & > main {
    @extend .web;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: 'Didot';
      font-size: 48px;
      line-height: 56px;
      font-weight: bold;
      margin-bottom: 24px;
    }
    p {
      width: 670px;
      line-height: 24px;
    }
    img {
      width: 1050px;
      display: block;
      margin: 40px auto 20px;
    }

    aside {
      margin-top: 64px;
      display: flex;
      justify-content: center;

      .web-button {
        margin: 0 10px;
      }
    }
  }

  &-map {
    display: grid;
    width: 1230px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 72px;
    position: relative;

    dl {
      display: grid;
      gap: 72px;
    }
    dd {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 72px;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 72px;
      font-size: 16px;
      color: $blue;
      font-weight: bold;
      border-radius: 4px;
      border: 2px solid $blue;
      box-shadow: 3px 4px 0px 0px $blue;
      cursor: pointer;
      @include dz();

      &:hover {
        background: $blue;
        color: white;
        box-shadow: 3px 4px 0px 0px white;
      }
    }
    .text {
      font-size: 20px;
      color: $blue;
      font-weight: bold;
      border: none;
      background: none;
      position: relative;
      &.top {
        top: -20px;
      }
      &.bottom {
        bottom: -20px;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: url($res + 'asset/home-arrow.svg') center 90px no-repeat;
      pointer-events: none;
    }
  }
}
