.web-home-guide {
  @extend .web_;
  padding: 72px 0 80px;
  // background: linear-gradient(177.4deg, #F8F8F8 13.01%, #B4C1FF 92.13%);
  @include jb(#b4c1ff, #f8f8f8, 180);
  main {
    @extend .web;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: 'Didot';
      font-size: 48px;
      line-height: 56px;
      font-weight: bold;
      margin-bottom: 24px;
    }
    p {
      width: 670px;
      line-height: 24px;
    }
    img {
      width: 1050px;
      display: block;
      margin: 40px auto 20px;
    }

    section {
      display: flex;
      justify-content: space-around;
      width: 100%;
      text-align: left;
      margin-top: 112px;
      dl {
        width: 280px;
        height: 320px;
        padding: 20px;
        box-shadow: 0px 16px 56px rgba(5, 20, 155, 0.16);
        background: right bottom/255px auto no-repeat rgba($cff, 0.4);
        position: relative;
        top: 0;
        @include dz();
        @include ns();
        dt {
          font-family: 'Didot';
          font-size: 100px;
          font-weight: bold;
          font-style: italic;
          margin-top: -60px;
          width: 100px;
          @include dz();
        }
        dd {
          font-size: 18px;
          line-height: 1.4;
          margin-top: 10px;
          color: $black;
        }

        &:nth-child(2n) {
          margin-top: 76px;
        }
        &:nth-child(1) {
          background-image: url($res + 'asset/home-guide-1.png');
        }
        &:nth-child(2) {
          background-image: url($res + 'asset/home-guide-2.png');
        }
        &:nth-child(3) {
          background-image: url($res + 'asset/home-guide-3.png');
          background-size: 220px auto;
        }
        &:nth-child(4) {
          background-image: url($res + 'asset/home-guide-4.png');
          background-size: 220px auto;
        }

        &:hover {
          top: -10px;
          dt {
            color: $blue;
          }
        }
      }
    }

    aside {
      margin-top: 64px;
      display: flex;
      justify-content: center;

      .web-button {
        margin: 0 10px;
      }
    }
  }
}
