.web-mining-banner {
  height: 400px;width: 892px;
  &-layout {
    @extend .web;display: flex;justify-content: space-between;
  }
  &-chart {
    height: 400px;background: $cff;border-radius: 8px;overflow: hidden;
    header {
      width: 892px;display: flex;justify-content: space-between;padding: 30px 30px 0;align-items: flex-start;

      p > em {
        font-size: 48px;line-height: 56px;font-weight: 800;display: block;
        // margin-top: 8px;
      }
    }

    & > section {
      height: 290px;
    }
  }
}

.recharts-tooltip-wrapper {
  outline: none;
}
.chart-tooltip-content {
  outline: none;padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  box-shadow: 0px 16px 32px rgba(49, 48, 48, 0.16);
  backdrop-filter: blur(40px);
  border-radius: 10px;
  time {
    font-size: 18px;font-weight: 800;display: block;margin-bottom: 10px;
  }
  ul {
    li {
      display: flex;align-items: center;font-size: 12px;justify-content: space-between;padding: 5px 0;
      label {
        display: flex;align-items: center;margin-right: 10px;
      }
      i {
        display: block;border-radius: 50%;width: 16px;height: 16px;margin-right: 8px;
      }
    }
  }
}
