.web-mining-counts {
  width: 285px;border-top: 4px solid $blue;background: $cff;
  padding: 20px 20px 0;
  .web-c-data-item:not(:last-child) {
    margin-bottom: 25px;
  }

  &-roe {
    .web-c-row-show {
      font-size: 18px;line-height: 24px;padding: 0 7px;
      border-radius: 4px;margin-top: 4px;
      &.rise {
        background: rgba($rise, .2);
      }
      &.fall {
        background: rgba($fall, .2);
      }
    }
  }
}
