.web-mining-dashboard {
  display: flex;justify-content: space-between;background: $cff;border-top: 4px solid $blue;
  padding: 24px 40px;margin-bottom: 20px;align-items: center;margin-top: 30px;
  @extend .web;
  main {
    display: flex;align-items: center;flex:1;
    .web-c-data-item {
      width: 300px;
    }
    .add-token-button {
      width: 60px;height: 24px;border-radius: 12px;background: $blue;cursor: pointer;color: $cff;
      border: none;font-size: 20px;font-weight: 800;margin-left: 10px;
      display: inline-flex;align-items: center;justify-content: center;
      @include dz();
      &:hover, &:focus {
        background: $lBlue;
      }
      &:after {
        content: '';display: block;width: 16px;height: 16px;margin-left: 5px;
        background: url($res + 'icon/metamask-logo.png') center/contain no-repeat;
      }
    }
  }
}
@keyframes web-pool-banner-icon {
  0% { transform: translate(0, 0) scale(1); opacity: .9;}
  100% { transform: translate(3px, 5px) scale(1.05); opacity: 1;}
}
