.web-mining-tab {
  @extend .web;margin-bottom: 30px;
  display: flex;align-items: center;justify-content: space-between;
  main {
    display: flex;align-items: center;
  }
  span {
    display: flex;align-items: center;
    padding: 0 24px;height: 50px;color: #9B9B9B;font-size: 24px;font-weight: bold;
    border-radius: 8px;margin-right: 20px;cursor: pointer;

    &.active {
      background: #D1E0FE;color: $blue;
    }
  }
}
