.web-footer {
  margin-top: 64px;
  @extend .web_;
  padding: 40px 40px 0;
  background: $black;
  box-shadow: 0 100px $black;
  main {
    display: flex;
    justify-content: space-between;
    @extend .web;
  }
  &-logo {
    width: 115px;
    height: 32px;
    text-indent: -9999px;
    background: url($res + 'logo-dark.svg') center/contain no-repeat;
  }
  &-nav {
    display: flex;
    dl {
      width: 240px;
      dt {
        color: $orange;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      dd {
        display: flex;
        height: 32px;
        align-items: center;
        &,
        a {
          color: rgba($white, 0.7);
          font-size: 14px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  &-community {
    display: flex;
    a {
      display: block;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      background: center/contain no-repeat;
      margin-left: 32px;

      $icons: 'x', 'telegram', 'discord', 'email';

      @each $icon in $icons {
        &.#{$icon} {
          background-image: url($res + 'icon/' + $icon + '.svg');
        }
      }
    }
  }
  &-copy {
    border-top: 1px solid $text;
    color: $cff;
    margin-top: 24px;
    line-height: 2;
    padding: 12px 0;
    text-align: center;
    font-size: 12px;
  }
}

.web-main {
  min-height: calc(100vh - 350px);
}
