.web-task-dashboard {
  @extend .web;
  position: relative;
  z-index: 1;
  // padding-bottom: 64px;
  &-layout {
    @extend .web_;
    height: 240px;
    margin-top: -40px;
    padding-top: 54px;
    box-shadow: 0px 0px 32px rgba(49, 48, 48, 0.16);
    // overflow: hidden;
    position: relative;
    margin-bottom: 90px;

    background: linear-gradient(351.42deg, #f7fbff 15.74%, #e8eff9 93.13%);
  }
  h2 {
    text-align: center;
    font-family: 'Didot';
    line-height: 1.25;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
