.p-tasks-get-point {
  display: flex;
  justify-content: space-between;
  &-layout {
    @extend .web;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h3 {
      font-size: 24px;
    }
  }

  &-item {
    border-radius: 20px;
    width: 380px;
    border: 2px solid $white;
    padding: 20px;
    @include jb(rgba($white, 0.42), rgba($white, 0.69), 90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow:
      7px 10px 9px 0px #8180801a,
      0 0 0 200px rgba(#818080, 0.05) inset;

    & > section {
      display: flex;
      align-items: center;
      gap: 10px;
      & > img {
        display: block;
        width: 56px;
        height: 56px;
      }
      & > main {
        & > h4 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        & > p {
          font-size: 14px;
          opacity: 0.5;
        }
      }
    }
  }
}
