.p-task-leaderboard {
  @extend .web;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  & > main {
    border-radius: 10px;
    padding: 40px 60px;
    color: $white;
    & > h3 {
      display: flex;
      flex-flow: column;
      font-size: 32px;
      align-items: center;
      margin-bottom: 30px;

      &::before {
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background: center no-repeat;
      }
    }

    &:first-child {
      background: linear-gradient(123.54deg, #1036e6 2.92%, #467aff 97.86%);
      & > h3::before {
        background-image: url($res + 'task/points.svg');
        background-size: 100px 100px;
      }
    }
    &:last-child {
      background: linear-gradient(130.37deg, #985eff 4.63%, #ccb4ff 100%);
      & > h3::before {
        background-image: url($res + 'task/invitation.svg');
        background-size: 82px 82px;
      }
    }

    & > ul {
      display: grid;
      gap: 20px;
      & > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        em {
          background: linear-gradient(
            90.99deg,
            rgba(255, 255, 255, 0.552) 1.33%,
            rgba(255, 255, 255, 0.336) 99.83%
          );
          border: 0.5px solid #ffffff;
          box-shadow: 7px 10px 9px 0px #8180801a;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: bold;
        }
        .outlink {
          color: $white;
          font-size: 16px;
          font-weight: bold;
        }
        strong {
          small {
            font-weight: normal;
            padding-left: 5px;
          }
        }

        &:nth-child(1) em {
          color: #e47200;
          background: linear-gradient(180deg, #ffdf74 0%, #ffcf31 100%);
          border: none;
        }
        &:nth-child(2) em {
          color: #4974b1;
          background: linear-gradient(180deg, #ddeaf7 0%, #9fb7cf 100%);
          border: none;
        }
        &:nth-child(3) em {
          color: #954b01;
          background: linear-gradient(180deg, #d3b4a1 0%, #986f5c 100%);
          border: none;
        }
      }
    }
  }
}
