.p-task-header {
  font-size: 24px;
  font-weight: bold;
  margin: 40px auto 20px;
  @extend .web;
}

.p-task-my-points {
  @extend .web;
  position: relative;
  &-layout {
    @extend .web_;
    height: 346px;
    padding: 40px 0;
    background: linear-gradient(328.9deg, #8ca9fb 25.06%, rgba(237, 240, 251, 0) 105.07%);
    box-shadow: 10px 10px 20px 0px #81808033;
    overflow: hidden;
  }
  &::after {
    content: '';
    display: block;
    width: 380px;
    height: 380px;
    background: linear-gradient(278.42deg, #ffe7d9 -4.98%, #f9830b 68.19%);
    border-radius: 50%;
    filter: blur(40px);
    position: absolute;
    right: 0;
    top: -100px;
    animation: zoom-in-mini 2s linear infinite alternate;
  }

  &-total {
    display: inline-flex;
    gap: 10px;
    flex-flow: column;
    margin-bottom: 40px;

    & > label {
      font-size: 14px;
      font-weight: bold;
    }

    & > em {
      font-size: 48px;
      font-weight: bold;
    }
    & > button.web-button.text {
      padding-left: 0;
    }
  }
  &-details {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 1;
  }
  &-item {
    width: 220px;
    height: 114px;
    background: linear-gradient(
      90.99deg,
      rgba(255, 255, 255, 0.69) 1.33%,
      rgba(255, 255, 255, 0.42) 99.83%
    );
    border: 2px solid #ffffff;
    box-shadow: 7px 10px 9px 0px #8180801a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 5px;

    & > label {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4;
      color: #737373;
      height: 40px;
    }

    & > em {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &-invet {
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 12px;

    & > p {
      width: 320px;
      background: #edf0fb;
      border-radius: 8px;
      line-height: 32px;
      padding: 0 12px;
      font-size: 18px;
      font-weight: bold;
      color: #467aff;

      @include oneline(32px);
    }

    & > .web-c-copytext {
      display: block;
      width: 32px;
      height: 32px;
    }
  }
}
