.web-manage-menu {
  height: calc(100vh - 400px);margin-top: -41px;margin-bottom: -64px;
  min-height: 600px;position: relative;overflow: hidden;
  display: flex;align-items: center;
  @extend .web_;

  ul {
    height: 100%;display: flex;justify-content: center;align-items: center;width: 100%;
    li {
      width: 50%;height: 100%;color: $blue;cursor: pointer;display: flex;flex-flow: column;justify-content: center;align-items: center;
      @include dz();
      &.disabled {
        cursor: not-allowed;
      }
      main {
        position: relative;z-index: 2;width: 460px;
      }
      hr {
        width: 96px;height: 8px;border: none;background: $orange;display: block;margin: 0;
      }

      h2 {
        font-size: 64px;line-height: 72px;font-family: 'Didot';font-weight: bold;margin: 40px 0 30px;
      }

      p {
        font-size: 16px;line-height: 24px;margin-bottom: 40px;
      }

      &:after {
        content: '';display: block;width: 5px;height: 200vh;background: $blue;
        position: absolute;top: 50%;
        @include dz();
        transform: translate(0,-50%) rotate(8deg);
      }
      &:hover {
        color: $white;
        &:after {
          width: 100%;
        }
      }
      &:first-child {
        padding-right: 80px;
        align-items: flex-end;
        &:after {
          right: calc(50% - 1px);
        }
      }
      &:last-child {
        padding-left: 80px;
        align-items: flex-start;
        &:after {
          left: 50%;
        }
      }
    }
  }
}


.web-manage {
  @extend .web;

  & > h2 {
    font-family: 'Didot';font-size: 32px;text-transform: capitalize;padding-bottom: 20px;
    display: flex;justify-content: space-between;align-items: center;
  }
}
