.web-c-data-item {
  width: 100%;display: flex;flex-flow: column;
  &-label {
    display: flex;align-items: center;margin-bottom: 8px;
    label {
      font-size: 14px;line-height: 16px;letter-spacing: .5px;
      text-transform: capitalize;font-weight: 800;color: $text;
    }
  }
  p {
    font-size: 24px;line-height: 32px;font-weight: bold;display: flex;align-items: center;
  }
  &.gray {
    p {
      height: 56px;background: $bgBlue;border-radius: 8px;padding: 0 32px;
      display: flex;align-items: center;color: #737373;
    }
  }
  &.large {
    padding-left: 30px;position: relative;
    &:before {
      content: '';display: block;position: absolute;left: 0;top: -5px;height: 80px;width: 6px;background: $blue;border-radius: 3px;
    }
    p {
      font-size: 48px;line-height: 56px;
    }
  }
  &.normal {
    label {
      text-transform:none;
    }
  }
}
