.rc-dialog {
  &-wrap {
    display: flex;
    align-items: center;
    z-index: 80;
  }

  &-mask {
    background-color: rgba($lBlue, 0.1);
    z-index: 80;
    @include mh(20px);
  }

  &-close {
    top: 36px;
    right: 36px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    opacity: 0.75;
    @include dz(0.1s);
    background: url($res + 'icon/modal-close.svg') center/contain no-repeat;
    &:hover {
      @include xz(90);
    }
  }

  &-header {
    border: none;
    background: none;
    text-align: center;
    padding: 64px 0 0;
  }
  &-title {
    font-size: 18px;
    line-height: 32px;
    color: $c22;
    font-weight: normal;
  }

  &-content {
    background: $white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 32px rgba($dGray, 0.3);
  }
  &-body {
    padding: 64px;
  }
}
