.web-nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 20px;
  font-weight: bold;
  padding: 40px 0;
  min-height: 140px;
  i {
    display: block;
    width: 208px;
    height: 174px;
    margin-bottom: 25px;
    background: url($res + 'asset/empty.png') center/contain no-repeat;
  }
  span {
    font-family: 'Didot';
    font-size: 32px;
    color: $gray;
    display: block;
    margin-top: 10px;
  }

  &.small i {
    width: 163px;
    height: 136px;
  }
  &.mini {
    padding: 20px 0;
    i {
      width: 64px;
      height: 64px;
      margin-bottom: 5px;
    }
    span {
      font-size: 14px;
      font-family: 'Proxima Nova';
    }
  }
}
