.c-popper {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  &-icon {
    // width: 20px;height: 20px;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
  &-content {
    width: 240px;
    right: calc(100% - 10px);
    top: 6px;
    text-align: right;
    padding: 10px;
    z-index: 10;
    position: absolute;
    display: none;
    // @include yd(calc(-50% + 8px), calc(-100% - 10px));

    p {
      padding: 10px;
      border-radius: 6px;
      line-height: 1.4;
      display: inline-flex;
      text-align: left;
      // position: relative;
      font-size: 12px;
      color: $black;
      font-weight: normal;
      font-family: 'Proxima Nova', 'PingFang SC', 'Heiti SC', 'Droidsansfallback', Helvetica, 'Droid Sans';
      text-transform: none;
      letter-spacing: 0;
      white-space: normal;
      background: #467aff;
      color: $cff;
      box-shadow: 0px 0px 16px #aec5ff;
      border-radius: 10px 0px 10px 10px;
      // &:after {
      //   content: '';display: block;width: 12px;height: 12px;background: #FFE8CE;
      //   @include xz(45);position: absolute;bottom: -6px;left: calc(50% - 6px);
      // }
    }
  }
  &-size-default &-icon {
    width: 16px;
    height: 16px;
  }
  // &-size-default &-content { @include yd(calc(-50% + 11px), calc(-100% - 10px)); }
  // &-size-small &-icon { width: 18px;height: 18px; }
  // &-size-small &-content { @include yd(calc(-50% + 9px), calc(-100% - 10px)); }
  // &-size-mini &-icon { width: 16px;height: 16px; }
  // &-size-mini &-content { @include yd(calc(-50% + 8px), calc(-100% - 10px)); }
  //
  &.white &-content p {
    background: $cff;
    color: $text;
    &:after {
      background: $cff;
    }
  }

  &.white {
    opacity: 0.9;
  }

  &:hover &-content {
    display: block;
  }
}
