.rc-table {
  font-size: 16px;color: $black;
  background: $white;
  $self: &;
  &-content {
    border: none;border-radius: 0;
  }
  th, td {
    border: none;
  }
  thead {
    th {
      background: #F2F0FD;padding: 20px 12px;text-align: left;
      border-top: 4px solid #1557F4;font-size: 12px;color: #737373;
      &:first-child {
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 40px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 2px solid $line;
      th, td {
        background: none;padding: 12px;font-size: 14px;font-weight: bold;
        &:first-child {
          padding-left: 40px;
        }
        &:last-child {
          padding-right: 40px;
        }
      }
      &:hover {
        // background: $bg;
        position: relative;
        box-shadow: 0px 0px 16px rgba(203, 202, 202, 0.25);
        &:before {
          content: '';display: block;top: 0;bottom: 0;width: 4px;background: $blue;left: 0;position: absolute;
        }
        &.rc-table-placeholder {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  #{$self}-cell#{$self}-cell-row-hover {
    background: none;
  }
  &-tbody {
    tr {
      td {
        &:first-child {
          display: flex;align-items: center;
          &:before {
            content: '';display: block;width: 0;height: 47px;
          }
        }
      }

    }
    // tr {
    //   border-radius: 36px;
    //   &:nth-child(2n + 1) td {
    //     background: $cf7 !important;
    //     &:first-child {
    //       border-radius: 36px 0 0 36px;
    //     }
    //     &:last-child {
    //       border-radius: 0 36px 36px 0;
    //     }
    //   }
    // }
    .rc-table-placeholder:first-child td {
      background: $cff !important;height: 160px;font-size: 12px;color: $text;padding-bottom: 36px;
      display: table-cell;
    }

    .web-c-row-show {
      display: inline-flex;
    }
  }
  // &:before, &:after {
  //   content: '';display: block;height: 12px;border-radius: 6px;background: $cf7;
  //   position: absolute;left: 0;right: 0;z-index: -1;
  // }
  // &:before {
  //   top: 0;
  // }
  // &:after {
  //   bottom: 0;
  // }
}
