
.Toastify {
  &__toast {
    padding: 0;min-height: 52px;border-radius: 10px;
    font-family: "Proxima Nova", "PingFang SC", "Heiti SC", "Droidsansfallback", Helvetica, "Droid Sans";
    &-icon {
      width: 52px;position: absolute;left: 0;top: 0;bottom: 0;
      background:  center/24px no-repeat;
      border-radius: 10px 0 0 10px;
      svg {
        display: none;
      }
    }
    &--info &-icon {
      background-image: url($res + 'icon/toast-error.svg');
      background-color: $blue;
    }
    &--success &-icon {
      background-image: url($res + 'icon/toast-success.svg');
      background-color: #13BC8B;
    }
    &--warning &-icon {
      background-image: url($res + 'icon/toast-error.svg');
      // background-image: url($res + 'icon/toast-wait.svg');
      background-color: #FF7701;
    }
    &--error &-icon {
      background-image: url($res + 'icon/toast-error.svg');
      background-color: #FD3D60;
    }
    &--default &-icon {
      display: flex;justify-content: center;align-items: center;
      // background-image: url($res + 'icon/toast-wait.svg');
      background-color: #FF7701;
      .Toastify__spinner {
        border: none;
        background: url($res + 'icon/toast-wait.svg') center/24px no-repeat;
      }
    }
    &-body {
      padding-left: 62px;
      font-size: 13px;line-height: 22px;color: $black;
      span, strong, em {
        color: $black;
      }
    }
    // &-theme--dark {
    //   background: $dark2;
    // }

    &-container--top-right &-body {
      align-items: flex-start;
    }
  }
  &__close-button {
    @include dz();
    &:hover {
      @include xz(180);
    }
  }
  &__progress-bar {
    height: 1px;left: 10px;
    &--info {
      background: $blue;
    }
    &--success {
      background: #13BC8B;
    }
    &--warning {
      background: #FF7701;
    }
    &--error {
      background: #FD3D60;
    }
  }
}

.c-notify {
  &-content {
    font-size: 13px;line-height: 22px;color: $black;
    span, strong, em {
      color: $black;
    }
  }
  &-custom {
    background: $cff;
    box-shadow: 0px 4px 16px rgba(197, 191, 191, 0.25);
    border-radius: 10px;
    position: relative;
    overflow: inherit;
    text-transform: capitalize;
    // background: $black;
    .Toastify__close-button {
      position: absolute;width: 20px;height: 20px;border-radius: 50%;background: $line;
      right: -10px;top: -10px;display: flex;justify-content: center;align-items: center;
    }
    .Toastify__progress-bar {
      border-radius: 0 0 0 0;height: 1px;left: 52px;right: 2px;width: auto;
    }
  }
}
