.web-fund-detail-status {
  &-footer {
    margin: 30px -40px -12px;
    padding: 24px 40px 0;
    border-top: 1px solid #a7bfff;
    color: #2c2626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    dl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      line-height: 32px;
      dt {
        display: flex;
        align-items: center;
        em {
          font-weight: bold;
          display: inline-block;
          margin-left: 12px;
        }
      }
    }

    aside {
      display: flex;
      gap: 20px;
    }
  }
}
