.web-fund-detail-status-setpline {
  ul {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    position: relative;
    margin-top: 15px;
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 12px;
      right: 12px;
      top: 11px;
      height: 2px;
      background: $lBlue;
    }
    li {
      position: relative;
      // z-index: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      time {
        font-size: 14px;
        color: $text;
        white-space: nowrap;
      }
      label {
        font-size: 12px;
        line-height: 20px;
        color: $lBlue;
        white-space: nowrap;
        z-index: 2;
        position: absolute;
        width: 100%;
        top: -12px;
        left: 50%;
        display: flex;
        justify-content: center;
        display: flex;
        align-items: center;
        .c-popper {
          margin-left: 5px;
        }
      }
      &:first-child {
        align-items: flex-start;
      }
      &:last-child {
        align-items: flex-end;
      }
      &:before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $white;
        margin-bottom: 16px;
        position: relative;
        z-index: 1;
        box-shadow:
          0 0 0 6px #d1e0fe inset,
          0 0 8px rgba($lBlue, 0.4);
      }

      &.finish {
        &:before {
          background: $lBlue;
        }
      }
      &.active {
        &:before {
          background: rgba($orange, 1);
          box-shadow:
            0 0 0 6px lighten($lOrange, 5%) inset,
            0 0 8px #ffb663;
        }
      }
    }
    &.zero {
      grid-template-columns: 0.5fr 1fr 0.5fr;
      li {
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          align-items: flex-start;
        }
        &:nth-child(3) {
          // align-items: flex-start;
          display: none;
        }
      }
    }
    &.new-zero {
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
      li {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
